<section class="p-5 bg-dark text-white">
  <div class="container-fluid">
    <div class="row g-4">
      <div class="col-md">
        <h2 class="text-center md-4 bg-dark text-white">
          Contact
        </h2>
        <ul class="list-group list-group-flush lead">
          <li class="list-group-item bg-dark text-white">
            <span class="fw-bold">Address</span> Indian Institute of Science Education and Research Pune, Dr. Homi Bhabha Road, Pune 411008, India.
          </li>
          <li class="list-group-item bg-dark text-white">
            <span class="fw-bold">Phone</span> +91-20-25908000
          </li>
          <li class="list-group-item bg-dark text-white">
            <span class="fw-bold">Email</span> cnsd2022@iiserpune.ac.in
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>